// ProfileNameInput.module.scss
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  
    label {
      margin-bottom: 5px;
    }
  
    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }