.btn{
    &_custom{
        background-color: hsl(211, 100%, 50%);
        background: linear-gradient(to right, #34ebdf, #34ebc6);
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    &_app_bar_menu{
        text-decoration: none;
    }
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root{
    margin-right: 10px !important;
}