.header {
    background-color: #f0f0f0;
    text-align: center;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: #f5f5f5 !important;
  color: #1976d2 !important;
  box-shadow: none !important;
  margin-bottom: 50px;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root{
  color: #1976d2 !important;

  &:hover{
    background-color: #1976d2 !important;
    color: #f5f5f5 !important;
  }
}